@import "variables.css";

html, body {
    background: url("../images/bg.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    /*height: 100vh;*/
}
