.jumbotron {
    background: rgba(0, 0, 0, .5);
    margin-top: 280px;
    padding: 15px 0 150px 0;
    margin-bottom: 0;
}
.jumbotron h1 span{
    display: block;
}
footer{
    background: rgba(0, 0, 0, .5);
    padding-bottom: 15px;
}
.page-item .page-link{
    color: black !important;
}
.page-item.active .page-link{
    border: none;
    background: var(--primary) !important;
    color: white !important;
}
